<div class="col-sm-3 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4 align="left">About</h4>
    <p>
      This is my blog area that tells you what i'm up to currently.
    </p>
  </div>
  

    <%= source_helper("alert alert-info blog-sidebar-source") %>
  
  <div class="side_bar_topics">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  
  
  <div class="col-sm-9 blog-sidebar">
    <div style="text-align: left">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled social-links">
        <li><a href="#" align= "center"><%= fa_icon "github" %></a></li>
        <li><a href="#"><%= fa_icon "instagram" %></a></li>
        <li><a href="#"><%= fa_icon "facebook" %></a></li>
        <li><a href="#"><%= fa_icon "twitter" %></a></li>
      </ol>
    </div>
  </div>
</div>